@charset "UTF-8";

body {
  background-color: #934e07;
  font-family: Arial, Helvetica, Sans-Serif;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1 {
  color: #F1ECFF;
  font-size: 2.5em;
}

main {
  background-color: #F1ECFF;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.pts {
  font-weight: bolder;
}

#pontuacao {
  background-color: #F1ECFF;
  text-align: center;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 1em;
  font-weight: bolder;
}

#dvJogo {
  position: relative;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 250px;
}

#bola {
  position: absolute;
  background-color: rgba(255,255,255,0.386);
  width: 20px;
  height: 20px;
  left: calc((400px - 20px) / 2);
  top: calc((250px - 20px) / 2);
  border-radius: 30px;
  border: 2px solid #ffffffae;
}

.barraEsquerda {
  display: flex;
  position: absolute;
  background-color: rgba(255,255,255,0.386);
  width: 20px;
  height: 70px;
  top: 90px;
  left: 10px;
  border: 2px solid #ffffffae;
  color: white;
  justify-content: center;
  align-items: center;
  
}

.barraDireita {
  position: absolute;
  background-color: rgba(255,255,255,0.386);
  width: 20px;
  height: 70px;
  left: 370px;
  border: 2px solid #ffffffae;
}

.itemPainelbtb {
  position: absolute;
  bottom: 200px;
  left: calc((100vw - 150px)/2);
}

#btnIniciar {
  color: #F1ECFF;
  font-size: 2em;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  background-image: linear-gradient(60deg, #be1111, #c82929);
  border: none;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#btnIniciar:hover {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

